.col-text{
	color: #fff;
	font-size: 1.5em;
}
.section-title{
	font-size: 2.5em;
	color: #222222;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}

.section-subtitle{
	font-size: 2em;
	color: #222222;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.section-subtitle:after{
	width: 100px;
	height: 3px;
	background-color: #18bc9c;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 15px;
}

.section-title:after{
	width: 100px;
	height: 3px;
	background-color: #18bc9c;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 15px;
}

.sub{
	padding-bottom: 30px;
	height: auto;	
}
.sub:hover{
	background-color: #18bc9c;
	-webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	   -moz-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	transition: all 0.5s ease-in;
}

.sub i{
	font-size: 80px;
	color: #18bc9c;
}
.section-title-head{
	font-size: 2.5em;
	color: #fff;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
.section-title-head:after{
	width: 150px;
	height: 3px;
	background-color: #18bc9c;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
}

.section-content {
	color: #222;
	line-height: 2em;
	font-size: 1.1em;
	font-weight: 300;
}
.col-centered{
	float: none;
	margin: 0 auto;
}

.col-about{
	padding-bottom: 40px;
}
#head-greetings{	
	font-family: 'levibrushregular';
	color: #fff;
	font-weight: bold;
	font-size: 8em;
}

.team img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}
.team-name{
	color: #222222;
}

.team-name:after{
	width: 100px;
	height: 3px;
	background-color: #18bc9c;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 15px;
}

.team-des{
	font-size: 1.2em;
	font-weight: 300;
}

.serve{
	color: #fff;
}

#ico i{
	color: #fff;
	font-size: 80px;
	margin: 25px 0 25px 0;
}

#ico p{
	color: #fff;
	text-align: center;
}

#contact-us{
	background-color: rgba(96, 96, 96, 0.2);
	padding: 40px 0 40px 0;
}

.add {
	font-size: 1.2em;
	color: #fff;
	margin: 0 20px 0 20px; ;
}

#con{
	margin-bottom: 30px;
}

#con i{
	color: #18bc9c;
	font-size: 80px;
	margin: 25px 0 25px 0;
}

#con p{
	font-size: 1.2em;
	color: #fff;
	font-weight: 300;
}
/*-----------*/


/*buttons*/
.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;
}
.btn-outlined.btn-primary {
    background: none;
    border: 3px solid #fff;
    color: #fff;
    width: 150px;
}
.btn-outlined.btn-primary:hover,
.btn-outlined.btn-primary:active {
    color: #fff;
    background-color: rgba(0,0,0,0.6);;
    border-color: #fff:
}
.btn-circle.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
  	width: 50px;
  	height: 50px;
  	padding: 10px 16px;
  	font-size: 18px;
  	line-height: 1.33;
  	border-radius: 30px;
  	border:	3px solid #fff;
}
.fa.fa-bars{
	font-size: 1.5em;	
	color: white;
}

.fa.fa-bars:hover{	
	color: #18bc9c;
}

.fa.fa-angle-double-down{
	font-size: 50px;
	color: #ddd;
}

.fa.fa-angle-double-down:hover{
	color: #18bc9c;
	-webkit-transition: all 0.5s ease-in;
			transition: all 0.5s ease-in;
}



/*---------*/

/*navbar*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
	background-color: transparent;
	color: #18bc9c;
}
.navbar.navbar-default{
		border-width: 0px;
  -webkit-box-shadow: 0px 0px;
    	  box-shadow: 0px 0px;
    background-color: rgba(22, 22, 22,0.5);
}

.navbar-brand {
	transition: all 0.3s ease-in;
	font-family: 'levibrushregular';
	font-weight: normal;
	padding-top: 15px;
	font-size: 2.5em;
}
.nav.navbar-nav.navbar-right li a {
	transition: all 0.3s ease-in;
    font-size: 0.80em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	margin: 0 8px 0 0;
}

.navbar-toggle{
	border: none;
	background: transparent !important;
}

.navbar-toggle:hover{
	background-color: transparent;
}

.col-link{
	display: inline-block;
	text-decoration: none;
}

.col-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #18bc9c;
    transition: width .5s;
}

.col-link:hover::after {
    width: 100%;
}
/*---------*/

/*footer*/
footer{
	text-align: center;
	background-color: #15a98c;
	color: #fff;
	padding: 20px 20px;
	width: 100%;
}

.social-ico i{
	font-size: 50px;
	margin: 0 10px 0 10px;
	color: #fff;	
}

.social-ico i:hover{
	transform:scale(1.2,1.2);
}
.footer{
	font-family: 'Open Sans', sans-serif;
	height: 50px;
	padding-top: 20px;
	font-weight: 300;
}
/*------------*/




/*Contact Map*/
#map{
	height: 375px;
	margin: 0 auto;
	float: none;
}



/*thumbnail*/
      #image-thumbs{         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
      #image-thumbs li {     
          list-style:none;
          margin-bottom:25px;           
      }
      #image-thumbs li img {
          cursor: pointer;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      }

      .modal-body {
          padding:5px !important;
      }
      .modal-content {
          border-radius:0;
      }
      .modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
    .controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;          
    }
    .next {
        float:right;
        text-align:right;
    }


/*----------*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.fa.fa-bars{
	font-size: 1.3em;
	}
}

@media only screen and (max-width : 900px) {
	.nav.navbar-nav.navbar-right li a {
	margin: 0 0 0 -10px;
	font-size: 0.8em;
	}
}

@media only screen and (max-width : 800px) {
	.navbar-brand {
	font-size: 2.4em;
	}
	.nav.navbar-nav.navbar-right li a {
	font-size: 0.75em;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navbar.navbar-default.navbar-fixed-top{
	padding: 0;
	}
	.col-link:hover::after {
    width: 4.7em;
	}
	#head-greetings{
	font-size: 7em;
	}
	.section-title-head{
	font-size: 2em;
	}
	.navbar-brand {
	padding-top: 20px;
	font-size: 2.3em;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.navbar-brand {
	padding-top: 20px;
	font-size: 2em;
	}
	#head-greetings{
	font-size: 6.5em;
	}
	.section-title-head{
	font-size: 1.7em;
	}
	.fa.fa-bars{
	font-size: 1em;
	}
	.col-text{
	font-size: 1.2em;
	}
	.img-team{
		width: 100%;
	}
	#con p{
	font-size: 1em;

	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.fa.fa-bars{
	font-size: 1em;
	}
	.navbar-brand {
	padding-top: 25px;
	font-size: 1.5em;
	}
	#head-greetings{
	font-size: 6em;
	}
	.section-title-head{
	font-size: 1.5em;
	}
}